<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Wildlife Monitoring</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>AI-Based Wildlife Monitoring</h1>
        <p>Farmer Safety and Crop Protection System</p>
    </header>

    <div class="container">

        <div class="card">
            <h2>Welcome</h2>

            <p>
                This system uses Artificial Intelligence
                to monitor wildlife activity and provide
                safety alerts for farmers.
            </p>
        </div>

    </div>

</body>
</html>